.headeryear {
    font-size: 100px;
    margin: 0px;
    border: 0%;
    width: auto;
}

body {
  background: linear-gradient(to bottom, rgb(203, 211, 133), rgb(185, 185, 122) );
}

.supercontainer {
  width: 70%;
  margin: auto;
  border: solid 3px black;
  background: linear-gradient(to bottom, rgb(223, 197, 106), rgb(232, 233, 204) );
}

.gpnumbercontainer {
  display: flex;
}

.gpnumber {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 150%;
  border-top: solid 3px black;
  border-bottom: solid 3px black;
  background-color: beige;
  width: 100%;

}

.separator {
  margin-top: 40px;
  height: 6px;
  background-color: black;
}

#backbtn {
  height: 4vw;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 15px;
}

#backbtn:hover {
  background-color: rgb(25, 85, 13);
}


.flag {
  height: 2vw;
  margin-left: 10px;
  margin-top: 10px;
}

.resultspresentation {
  text-align: center;
  font-size: 300%;
}

.results {
  text-align: center;
}

.topresult {
  background-color: rgb(77, 71, 61);
}

.topresultext {
  color: rgb(255, 255, 255);

}

#centeredname {
  display: flex;
  justify-content: center;
}

.resultstotal {
  display: flex;
}

.resultsnumber {
  display: flex;
  flex-direction: row;
  width: 20%;
  justify-content: center;
  align-items: center;
  border: solid 3px;
  margin-left: 20px;
  flex-wrap: wrap;
  font-size: 2vw;
}

.resultsname {
  display: flex;
  flex-direction: row;
  width: 40%;
  align-items: center;
  border-top: solid 3px;
  border-bottom: solid 3px;
  font-size: 2vw;
}

.resultscar {
  display: flex;
  flex-direction: row;
  width: 30%;
  justify-content: center;
  align-items: center;
  border-top: solid 3px;
  border-bottom: solid 3px;
  border-left: solid 3px;
  font-size: 2vw;

}

.resultstime {
  display: flex;
  flex-direction: row;
  width: 30%;
  justify-content: center;
  align-items: center;
  border-top: solid 3px;
  border-bottom: solid 3px;
  border-left: solid 3px;
  font-size: 2vw;

}

.resultslap {
  display: flex;
  flex-direction: row;
  width: 20%;
  justify-content: center;
  align-items: center;
  border: solid 3px;
  margin-right: 20px;
  font-size: 2vw;

}

.otherposition {
  background-color: rgb(240, 232, 187);
}

.qualificationposition {
  background-color: rgb(248, 255, 218);
}

.poleposition {
  background-color: rgb(230, 217, 48);
}



/* Details */

.detailscontainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.lap {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 150%;
  text-align: center;
}

.brescia {
  height: 20vw;
  margin-top: 20px;
}

.history {
  font-size: 150%;
  width: 95%;
  margin: auto;
  font-family: 'Times New Roman', Times, serif;
}

.photos {
  width: 60%;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10%;
  margin-left: auto;
  margin-right: auto;

}

/* Add a black background color to the top navigation */
.topnav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(202, 170, 28);
    overflow: hidden;    
  }
  
.active {
  margin: 1%;
  border-radius: 10px;
}

  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 150%;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(223, 187, 69);
    color: rgb(232, 233, 173);
  }

  @media screen and (max-width: 800px) {
    .flag {
      height: 2vw;
    }

    .resultsname {
      font-size: 4vw;

    }

    .resultslap {
      font-size: 4vw;

    }

    .resultsnumber {
      font-size: 4vw;

    }

    .resultstime {
      font-size: 4vw;
    }

    .resultscar {
      font-size: 4vw;
    }

    .detailscontainer {
      display: flex;
      flex-direction: column;
    }
    

    .supercontainer {
      width: 100%;
      margin: auto;
      border: solid 3px black;
      border-top: solid 1px;
      background: linear-gradient(to bottom, rgb(231, 223, 191), rgb(229, 231, 161) );
    }
    
  }