
.headeryear {
    font-size: 10vw;
    margin: 0px;
    border: 0%;
    width: auto;
}

.results {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.position {
  display: flex;
  flex-direction: column;
  justify-content: right;
}

ul {
  list-style: none;
  }

  .posizione {
    border-radius: 0;
    width: 100%;
    border-bottom: solid 4px;
  }

/* Add a black background color to the top navigation */
.topnav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(202, 170, 28);
    overflow: hidden;
    border-bottom: solid 10px rgb(255, 255, 255);
    
  }
  
.active {
  margin: 1%;
  border-radius: 10px;
}

  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(223, 187, 69);
    color: rgb(232, 233, 173);
  }